<center><div class="banner" banner="footer"></center>
<section id="bottom" class="wet-asphalt">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <h4>Sobre nós</h4>
                    <p>O Terra do Futebol é um portal criado para que as equipes de futebol, principalmente amadoras, possam armazenar e gerenciar suas informações, marcar jogos, campeonatos, torcida, jogadores, estatísticas.</p>
                </div><!--/.col-md-3-->

                <div class="col-md-1">
                </div>

                <div class="col-md-3 col-sm-6">
                    <h4>Canais</h4>
                    <div>
                        <ul class="arrow">
                            <li><a href="#" data-toggle="modal" data-target="#politica-de-privacidade">Política de Privacidade</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#termos-de-uso">Termos de Uso</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#copyright">Copyright</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
                
                <div class="col-md-3 col-sm-6">
                    <h4>Endereço</h4>
                    <address>
                        <strong>Twitter, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <!--<h4>Newsletter</h4>
                    <form role="form">
                        <div class="input-group">
                            <input type="text" class="form-control" autocomplete="off" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                </div> col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->




<div id="contato" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contato</h4>
            </div>
            <form id="form_contato" method="POST" role="form" data-toggle="validator">
                <div class="modal-body">
                    
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name" class="control-label"><%= __('Name') %></label>
                                    <input type="name" class="form-control" id="name" name="name" placeholder="" data-error="<%= __('Please, fill the form with a valid name') %>" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>    
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="email" class="control-label"><%= __('Email') %></label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="" data-error="<%= __('Please, fill the form with a valid email') %>" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div> 
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="title" class="control-label"><%= __('Subject') %></label>
                                    <select type="title" class="form-control" id="title" name="title" placeholder="" data-error="<%= __('Please, fill the form with a valid title') %>" required>
                                        <option value="[Geral] Ajuda">[Geral] Ajuda</option>
                                        <option value="[Conteúdo] Informar conteúdo indesejável">[Conteúdo] Informar conteúdo indesejável</option>
                                        <option value="[Marketing] Anunciar no Portal">[Marketing] Anunciar no Portal</option>
                                        <option value="[Perfil] Solicitar alteração do e-mail cadastrado">[Perfil] Solicitar alteração do e-mail cadastrado</option>
                                        <option value="[Times] Solicitar exclusão ou inativação em equipe">[Times] Solicitar exclusão ou inativação em equipe</option>
                                        <option value="[Times] Solicitar alteração do responsável">[Times] Solicitar alteração do responsável</option>
                                        
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div> 
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="message" class="control-label"><%= __('Message') %></label>
                                    <textarea type="message" class="form-control" id="message" name="message" placeholder="" data-error="<%= __('Please, fill the form with a valid message') %>"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div> 
                        </div>
                       
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default"><%= __('Cancel') %></a>
                    <button type="submit" class="btn btn-default btn-primary"><%= __('Send') %></button>
                </div>
            </form>
        </div>
    </div>
</div> 


<div id="copyright" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Copyright</h4>
            </div>
            <form id="form_evento">
                <div class="modal-body">
                    <p>Dúvidas? Sugestões?</p>
                    <p></p>
                    <p id="debug-url"></p>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default">Fechar</a>
                </div>
            </form>
        </div>
    </div>
</div> 

<div id="termos-de-uso" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Termos de Uso</h4>
            </div>
            <form id="form_evento">
                <div class="modal-body">
                    <p>Dúvidas? Sugestões?</p>
                    <p></p>
                    <p id="debug-url"></p>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default">Fechar</a>
                </div>
            </form>
        </div>
    </div>
</div> 

<div id="politica-de-privacidade" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Política de Privacidade</h4>
            </div>
            <form id="form_evento">
                <div class="modal-body">
                    <p>Dúvidas? Sugestões?</p>
                    <p></p>
                    <p id="debug-url"></p>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default">Fechar</a>
                </div>
            </form>
        </div>
    </div>
</div> 

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2017 Desenvolvido por <a target="_blank" href="http://proj3ct.com.br/">Proj3ct</a>.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                   <li><a href="#" data-toggle="modal" data-target="#contato">Contato</a></li>
                    <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->    

<div class="contato-botao"data-toggle="modal" data-target="#contato"><i class="fa fa-question-circle" aria-hidden="true"></i> </div> 
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/ejs_production.js"></script>
<script src="/js/bootstrap-switch.js"></script>
<script type="text/javascript" charset="utf8" src="/js/dataTables.js"></script>
<script src="/js/mkt.js"></script>
<script src="/js/general.js"></script>



