<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/top-site.ejs %>
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
</head><!--/head-->
<body>
    <%- include partials/header.ejs %>
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<h1><%= __('Entity Info') %></h1>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/">Home</a></li>
                        <li><%= __('Entities') %></li>
                        <li><%= __('Search') %></li>
                        <li class="active"><%= __('Entity Info') %></li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->     

    <section id="registration" class="container">
        <div class="container">
            <div class="row">
            	<div class="col-sm-2">
            		<div class="redondo-perfil">
					    <img src="/images/uploads/<%= entities[0].logo %>">
					</div>
            	</div>
            	<div class="col-sm-7">
            		<h1><%= entities[0].alias %> <span>(<%= entities[0].full_name %>)</span></h1>
            		<p> 
	            		<% if(entities[0].city_name){ %>
						<%= entities[0].city_name+', ' %>
	            		<% } %>
	            		<% if(entities[0].state_name){ %>
						<%= entities[0].state_name+', ' %>
	            		<% } %>
	            		<% if(entities[0].country_name){ %>
						<%= entities[0].country_name %>
	            		<% } %>
					</p>
            	</div>
            	<div class="col-sm-3 text-right">
            	<% if(user){ %>
            	<p>
            		<div class="btn-group" role="group" aria-label="...">
            			<button type="button" class="btn btn-primary hidden follow" data-id="<%= entities[0].id %>"><%= __('Follow') %></button>
						<button type="button" class="btn btn-default hidden unfollow" data-id="<%= entities[0].id %>"><%= __('Unfollow') %></button>
					</div>
					</p>	
				<% } %>	
            	</div>
            </div>
            <div class="row">
			    <div class="panel-group col-sm-12" id="accordion">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h4 class="panel-title">
			                    <%= __('Details') %>
			                </h4>
			            </div>
			            <div id="collapseOne" class="panel-collapse collapse in">
			                <div class="panel-body">
			                    <div class="col-sm-4 details-i">
			                    	<i class="fa fa-user-circle" aria-hidden="true"></i>
			                    	<span><%= __('Sponsor') %>: <%= entities[0].first_name %> <%= entities[0].last_name %></span>
			                    </div>
			                    <div class="col-sm-6 details-i">
			                    	<i class="fa fa-map-o" aria-hidden="true"></i>
			                    	<span><%= __('Address') %>: <%= entities[0].address %></span>
			                    </div>
			                    <div class="col-sm-6 details-i member-since">
			                    	<i class="fa fa-history" aria-hidden="true"></i> 
			                    	<span><%= __('Member Since') %>: <datetime><%= entities[0].since %></datetime></span>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="panel-group col-sm-12" id="accordion">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h4 class="panel-title">
			                    <%= __('Followers') %> (<%= followers.length %>)
			                </h4>
			            </div>
			            <div id="collapseOne" class="panel-collapse collapse in">
			                <div class="panel-body">
			                	<div id="lista-seguidores">
				                    <% for(var i=0; i<followers.length;i++){ %>
			                    	<img src="/images/uploads/<%= followers[i].picture %>" />
			                    	<% } %>
			                    </div>	
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="panel-group col-sm-12" id="accordion">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h4 class="panel-title">
			                    <%= __('Teams') %>
			                </h4>
			            </div>
			            <div id="collapseOne" class="panel-collapse collapse in">
			                <div class="panel-body">
			                    <div id="lista-times">
			                    	<% for(var i=0; i<teams.length;i++){ %>
			                    	<div class="col-sm-2">
			                    		<a href="/times/<%= teams[i].slug %>" target="_blank">
			                    		<span class="redondo-jogador"><img src="/images/uploads/<%= teams[i].logo %>" /></span>
			                    		<br /><%= teams[i].name %>
			                    		</a>
			                    	</div>
			                    	<% } %>
								</div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</section><!--/#registration-->  
    
    <%- include partials/footer.ejs %>
    <script src="/js/util.js"></script>
    <script src="/js/validator.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/view/agremiacao-detail.js"></script>
	</body>
</html>



