<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/top-site.ejs %>
    
</head><!--/head-->
<body>
    <%- include partials/header.ejs %>
    
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1><%= __('Invites') %></h1>
                    <!-- <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p> -->
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/"><%= __('Games') %></a></li>
                        <li class="active"><%= __('Invites') %></li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->     

    <section id="registration" class="container">
        <div class="container">
            <%- include partials/alert.ejs %>
            <div class="row">
                <h2><%= __('Open Invites') %></h2>
                <ul class="games-invites-list list-timestamp col-sm-12">
                <% if(invites && invites.length > 0){ %>
                    <% for(var i=0;i<invites.length;i++){ %>
                    <li class="games-invites-item" data-id="<%= invites[i].game_id %>">
                        <time datetime="<%= invites[i].date %>" class="label-default col-sm-1">
                            <span class="day"></span>
                            <span class="month-year"></span>
                            <span class="time"></span>
                        </time>
                        <span class="team col-sm-1">
                            <img src="/images/uploads/<%= invites[i].logo %>" />
                        </span>
                        <span class="versus col-sm-1">VS</span>
                        <span class="team col-sm-1">
                            <img src="/images/uploads/<%= invites[i].logo_b %>" />
                        </span>
                        <span class="place col-sm-5">
                            <h4><%= invites[i].name %></h4>
                            <!--<p><%= invites[i].address %> - <%= invites[i].city_name %> - <%= invites[i].state_name %></p>-->
                        </span>
                        <span class="option label-success col-sm-1">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                        <span class="option label-danger col-sm-1">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>
                    </li>
                    <% } %> 
                <% } else { %>    
                    <%= __('You have no invites yet!') %>
                <% } %> 
                </ul>
            </div>
            <div class="row">
                <h2><%= __('Next Games') %></h2>
                <ul class="games-invites-list list-timestamp col-sm-12">
                <% if(games && games.length > 0){ %>
                    <% for(var i=0;i<games.length;i++){ %>
                    <li class="games-invites-item " data-id="<%= games[i].game_id %>">
                        <time datetime="<%= games[i].date %>" class="label-default col-sm-1">
                            <span class="day"></span>
                            <span class="month-year"></span>
                            <span class="time"></span>
                        </time>
                        <span class="team col-sm-1">
                            <img src="/images/uploads/<%= games[i].logo %>" />
                        </span>
                        <span class="versus col-sm-1">VS</span>
                        <span class="team col-sm-1">
                            <img src="/images/uploads/<%= games[i].logo_b %>" />
                        </span>
                        <span class="place col-sm-5">
                            <h4><%= games[i].name %></h4>
                            <!--<p><%= games[i].address %> - <%= games[i].city_name %> - <%= games[i].state_name %></p>-->
                        </span>
                        <span class="option label-warning col-sm-1" data-toggle="modal" data-game="<%= games[i].game_id %>" data-target="#invite" data-team="<%= games[i].opponent_id %>">
                            <i class="glyphicon glyphicon-log-out"></i>
                        </span>
                    </li>
                    <% } %> 
                <% } else { %>    
                    <%= __('You have no invites yet!') %>
                <% } %> 
                </ul>
            </div>
            <div class="row">
                <h2><%= __('Refused Invites') %></h2>
                <ul class="games-invites-list list-timestamp col-sm-12">
                <% if(canceled && canceled.length > 0){ %>
                    <% for(var i=0;i<canceled.length;i++){ %>
                    <li class="games-invites-item" data-id="<%= canceled[i].game_id %>">
                        <time datetime="<%= canceled[i].date %>" class="label-default col-sm-1">
                            <span class="day"></span>
                            <span class="month-year"></span>
                            <span class="time"></span>
                        </time>
                        <span class="team col-sm-1">
                            <img src="/images/uploads/<%= canceled[i].logo %>" />
                        </span>
                        <span class="versus col-sm-1">VS</span>
                        <span class="team col-sm-1">
                            <img src="/images/uploads/<%= canceled[i].logo_b %>" />
                        </span>
                        <span class="place col-sm-6">
                            <h4><%= canceled[i].name %></h4>
                            <!--<p><%= canceled[i].address %> - <%= canceled[i].city_name %> - <%= canceled[i].state_name %></p>-->
                        </span>
                    </li>
                    <% } %> 
                <% } else { %>    
                    <%= __('You have no invites yet!') %>
                <% } %> 
                </ul>
            </div>
            <div class="row">
                <h2><%= __('Ended Games') %></h2>
                <ul class="games-invites-list list-no-timestamp col-sm-12">
                <% if(ended && ended.length > 0){ %>
                    <% for(var i=0;i<ended.length;i++){ %>
                    <li class="games-invites-item" data-id="<%= ended[i].id %>">
                        <time datetime="<%= ended[i].date %>" class="label-default col-sm-1">
                            <span class="day"></span>
                            <span class="month-year"></span>
                            <span class="time"></span>
                        </time>
                        <span class="team col-sm-1">
                            <img src="/images/uploads/<%= ended[i].logo_a %>" />
                        </span>
                        <span class="versus col-sm-1">VS</span>
                        <span class="team col-sm-1">
                            <img src="/images/uploads/<%= ended[i].logo_b %>" />
                        </span>
                        <span class="place col-sm-6">
                            <h4><%= ended[i].name %></h4>
                            <!--<p><%= ended[i].address %> - <%= ended[i].city_name %> - <%= ended[i].state_name %></p>-->
                        </span>
                        <% if(ended[i].status === 1){ %>
                        <span class="option label-primary col-sm-1">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </span>
                        <% } else { %>  
                        <span class="option label-default col-sm-1">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                        <% } %> 
                    </li>
                    <% } %> 
                <% } else { %>    
                    <%= __('You have no ended games yet!') %>
                <% } %> 
                </ul>
            </div>
        </div>
        <div id="invite" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><%= __('Invite Players') %></h4>
                        <p><%= __('NOTE: This list show only avaliable players to this type of game, considering ground and category!') %></p>
                    </div>
                    <form id="form_evento">
                        <div class="modal-body">
                            <div style="overflow:hidden;">
                                <div class="eventstep2">
                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul class="jogadores-lista-convidar"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('Close') %></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="game-result" class="modal fade modal-lg" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><%= __('Result') %></h4>
                    </div>
                    <form id="form_sumula">
                        <div class="modal-body">
                            <div style="overflow:hidden;">
                                <div id="info-sumula">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('Close') %></button>
                            <input type="submit" class="btn salvar-sumula btn-success" value="<%= __('Save') %>" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!--/#registration-->   
    <%- include partials/footer.ejs %>
    <script src="/js/util.js"></script>
    <script src="/js/validator.js"></script>
    <script src="/js/view/jogos-convites.js"></script>

</body>
</html>

