<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/top-site.ejs %>
    
</head><!--/head-->
<body>
    <%- include partials/header.ejs %>
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<h1><%= __('Player Info') %></h1>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/">Home</a></li>
                        <li><%= __('Players') %></li>
                        <li><%= __('Search') %></li>
                        <li class="active"><%= __('Player Info') %></li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->     

    <section id="registration" class="container">
        <div class="container">
            <div class="row">
            	<div class="col-sm-2">
            		<div class="redondo-perfil">
					    <% if(players[0].picture.length !== null){ %>
					        <img src="/images/uploads/<%= players[0].picture %>">
					    <% }else{ %>    
					        <img src="/images/uploads/player_avatar.png "> 
					    <% } %> 
					</div>
            	</div>
            	<div class="col-sm-6">
            		<h1><%= players[0].alias %> <span>(<%= players[0].first_name %> <%= players[0].middle_name %> <%= players[0].last_name %>)</span></h1>
            		<p> <%= players[0].age %> <%= __('years') %> - <%= players[0].city_name %>, <%= players[0].state_name %> - <%= players[0].country_name %></p>
            	</div>
            	<div class="col-sm-4 text-right">
            	<% if(user){ %>
            		<p>
            		<div class="btn-group" role="group" aria-label="...">
            			<button type="button" class="btn btn-primary hidden follow" data-id="<%= players[0].id %>"><%= __('Follow') %></button>
						<button type="button" class="btn btn-default hidden unfollow" data-id="<%= players[0].id %>"><%= __('Unfollow') %></button>
					</div>
					</p>	
				<% } %>	
            	</div>
            </div>
            <div class="row">
			    <div class="panel-group col-sm-12" id="accordion">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h4 class="panel-title">
			                    <%= __('Details') %>
			                </h4>
			            </div>
			            <div id="collapseOne" class="panel-collapse collapse in">
			                <div class="panel-body">
			                    <div class="col-sm-4 details-i">
			                    	<i class="fa fa-drivers-license-o" aria-hidden="true"></i>
			                    	<span><%= __('Full Name') %>: <%= players[0].first_name %> <%= players[0].middle_name %> <%= players[0].last_name %></span>
			                    </div>
			                    <div class="col-sm-2 details-i">
			                    	<i class="fa fa-calendar" aria-hidden="true"></i>
			                    	<span><%= __('Born') %>: <%= players[0].born %></span>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="panel-group col-sm-12" id="accordion">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h4 class="panel-title">
			                    <%= __('History') %>
			                </h4>
			            </div>
			            <div id="collapseOne" class="panel-collapse collapse in">
			                <div class="panel-body">
			                	<div class="col-sm-3 details-i">
			                    	<i class="fa fa-trophy" aria-hidden="true"></i>
			                    	<span><%= __('Titles') %>: </span>
			                    </div>
			                    <div class="col-sm-3 details-i">
			                    	<i class="fa fa-gamepad" aria-hidden="true"></i>
			                    	<span><%= __('Games') %>: </span>
			                    </div>
			                    <div class="col-sm-3 details-i">
			                    	<i class="fa fa-soccer-ball-o" aria-hidden="true"></i>
			                    	<span><%= __('Goals') %>: </span>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="panel-group col-sm-12" id="accordion">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h4 class="panel-title">
			                    <%= __('Teams') %>
			                </h4>
			            </div>
			            <div id="collapseOne" class="panel-collapse collapse in">
			                <div class="panel-body">
			                    <div id="lista-times">
			                    	<% for(var i=0; i<teams.length;i++){ %>
			                    	<div class="col-sm-2">
			                    		<a href="/times/<%= teams[i].slug %>" target="_blank">
			                    		<span class="redondo-jogador"><img src="/images/uploads/<%= teams[i].logo %>" /></span>
			                    		<br /><%= teams[i].name %>
			                    		</a>
			                    	</div>
			                    	<% } %>
								</div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
    </section><!--/#registration-->   
    <%- include partials/footer.ejs %>
    <script src="/js/util.js"></script>
    <script src="/js/validator.js"></script>
    <script src="/js/view/perfil.js"></script>

</body>
</html>



