<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/top-site.ejs %>

</head><!--/head-->
<body>
    <%- include partials/header.ejs %>
    
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1><%= __('Players') %></h1>
                    <!-- <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p> -->
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/">Home</a></li>
                        <li><%= __('Players') %></li>
                        <li class="active"><%= __('My data') %></li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->     

    <section id="registration" class="container">
        <div class="container">
            <%- include partials/alert.ejs %>
            <form id="form_jogador" role="form" data-toggle="validator">
            <div class="row">
                <form id="form_jogadores" enctype="multipart/form-data">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="alias" class="control-label"><%= __('Alias') %></label>
                        <input type="text" class="form-control" id="alias" data-minlength="5" data-maxlength="20" value="<% if(user.alias != null){ %><%= user.alias %><% } %>"  name="alias" placeholder="" data-error="<%= __('Please, fill the form with a valid alias') %>" >
                        <div class="help-block with-errors"></div>
                    </div>
                </div> 
                
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="looking_teams" class="control-label"><%= __('Looking for teams') %></label>
                        <select name="looking_teams" id="looking_teams" class="form-control" > 
                            <% if(user.looking_teams === 0){ %>
                            <option value="0"><%= __('No') %></option>
                            <option value="1"><%= __('Yes') %></option>
                            <% }else{ %>
                            <option value="1"><%= __('Yes') %></option>
                            <option value="0"><%= __('No') %></option>
                            <% } %>
                        </select>
                    </div>
                </div>  
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="open_for_invites" class="control-label"><%= __('Open for invites') %> </label>
                        <select name="open_for_invites" id="open_for_invites" class="form-control" > 
                            <% if(user.open_for_invites === 0){ %>
                            <option value="0"><%= __('No') %></option>
                            <option value="1"><%= __('Yes') %></option>
                            <% }else{ %>
                            <option value="1"><%= __('Yes') %></option>
                            <option value="0"><%= __('No') %></option>
                            <% } %>
                        </select>
                    </div>
                </div> 
                
            </div>
            <div id="form_ground_positions">
                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning btn-lg"><%= __('Update') %></button>
                    </div>
                </div> 
            </div>  
            </form> 
        </div>
    </section><!--/#registration-->   

    <%- include partials/footer.ejs %>
    <script src="/js/util.js"></script>
    <script src="/js/validator.js"></script>
    <script src="/js/view/jogador.js"></script>

</body>
</html>