<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/top-site.ejs %>
    
</head><!--/head-->
<body>
    <%- include partials/header.ejs %>
    
    

 <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1><%= __('register') %></h1>
                    <!-- <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p> -->
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/">Home</a></li>
                        <li class="active"><%= __('register') %></li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->     

    <section id="registration" class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <form id="form_registrar" action="/registrar" method="post"  role="form" data-toggle="validator">
            		<div class="form-group">
                        <label for="email" class="control-label"><%= __('email') %></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="" data-error="<%= __('Please, fill the fomr with a valid email') %>" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="control-label"><%= __('username') %></label>
                        <div class="input-group">
                            <input type="username" class="form-control" id="username" name="username" placeholder="" data-error="<%= __('Please, fill the fomr with a valid username') %>" required aria-describedby="basic-addon">
                            <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-remove"></i></span>
                        </div>
                        <div class="help-block with-errors"></div>

                    </div>
            		<div class="form-group">
            			<label for="senha" class="control-label"><%= __('password') %></label>
                        <input type="password" class="form-control"  data-minlength="6" name="password" id="password" placeholder="" data-error="<%= __('the password need to have 6 digits') %>" required>
                        <div class="help-block with-errors"></div>
            		</div>
                    <div class="form-group">
                        <label for="senhab" class="control-label"><%= __('re-type password') %></label>
                        <input type="password" class="form-control"  data-minlength="6"  data-match="#password"  id="senhab" placeholder="" data-error="<%= __('the password need to be the same') %>" required>
                        <div class="help-block with-errors"></div>
                    </div>

            		<button type="submit" class="btn btn-warning btn-lg"><%= __('register') %></button>
            	</form>
            </div>        
        </div>
    </section><!--/#registration-->   
    <%- include partials/footer.ejs %>

    <script src="js/validator.js"></script>
    <script src="js/view/registrar.js"></script>

</body>
</html>

