<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/top-site.ejs %>

</head><!--/head-->
<body>
    <%- include partials/header.ejs %>
    
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1><%= __('Teams') %></h1>
                    <!-- <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p> -->
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/">Home</a></li>
                        <li><%= __('Teams') %></li>
                        <li class="active"><%= __('Edit') %></li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->     

    <section id="registration" class="container">
        <div class="container">
            <%- include partials/alert.ejs %>
            <form id="form_time" role="form" data-toggle="validator">
            <div class="row">
                <form id="form_times" enctype="multipart/form-data">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="alias" class="control-label"><%= __('Alias') %></label>
                        <input disabled="disabled" type="text" class="form-control" id="alias" data-minlength="5" data-maxlength="20" value="<% if(teams[0].alias != null){ %><%= teams[0].alias %><% } %>"  name="alias" placeholder="" data-error="<%= __('Please, fill the form with a valid alias') %>" >
                        <div class="help-block with-errors"></div>
                    </div>
                </div> 
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="name" class="control-label"><%= __('Name') %></label>
                        <input disabled="disabled" type="text" class="form-control" id="name" data-minlength="5" data-maxlength="20" value="<% if(teams[0].name != null){ %><%= teams[0].name %><% } %>"  name="name" placeholder="" data-error="<%= __('Please, fill the form with a valid name') %>" >
                        <div class="help-block with-errors"></div>
                    </div>
                </div> 
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="logo" class="control-label"><%= __('Logo') %></label>
                        <input type="file" name="logo" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div> 
            </div>
            <div class="row">    
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="looking_games" class="control-label"><%= __('Looking for games') %></label>
                        <select name="looking_games" id="looking_teams" class="form-control" > 
                            <% if(teams[0].looking_games === 0){ %>
                            <option value="0"><%= __('No') %></option>
                            <option value="1"><%= __('Yes') %></option>
                            <% }else{ %>
                            <option value="1"><%= __('Yes') %></option>
                            <option value="0"><%= __('No') %></option>
                            <% } %>
                        </select>
                    </div>
                </div>  
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="open_for_new_players" class="control-label"><%= __('Open for new players') %> </label>
                        <select name="open_for_new_players" id="open_for_new_players" class="form-control" > 
                            <% if(teams[0].open_for_new_players === 0){ %>
                            <option value="0"><%= __('No') %></option>
                            <option value="1"><%= __('Yes') %></option>
                            <% }else{ %>
                            <option value="1"><%= __('Yes') %></option>
                            <option value="0"><%= __('No') %></option>
                            <% } %>
                        </select>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="gender" class="control-label"><%= __('gender') %></label>
                        <select name="gender" id="gender" class="form-control" required > 
                            <% if(teams[0].gender >= 0){ %>
                            <option value="<%= user.gender %>"><%= user.genders_name %></option>
                            <% } %>  
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="country" class="control-label"><%= __('country') %></label>
                        <select name="country" id="country" class="form-control" required="" >
                            <% if(teams[0].country_name.length >= 0){ %>
                            <option value="<%= teams[0].country_id %>"><%= teams[0].country_name%></option>
                            <% } %>
                        </select>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="state" class="control-label"><%= __('state') %></label>
                        <select name="state" id="state" class="form-control" required="">
                            <% if(teams[0].state_name.length >= 0){ %>
                            <option value="<%= teams[0].state_id %>"><%= teams[0].state_name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="city" class="control-label"><%= __('city') %></label>
                        <select name="city_id" id="city" class="form-control" required="" >
                            <% if(teams[0].city_name.length >= 0){ %>
                            <option value="<%= teams[0].city_id %>"><%= teams[0].city_name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>   
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="address" class="control-label"><%= __('address') %></label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="" data-error="<%= __('Please, fill the form with a valid address') %>" value="<%= teams[0].address %>">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="panel-group col-sm-12" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <%= __('Players') %>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <button type="button" class="btn btn-primary invite" data-toggle="modal" data-target="#invite"><%= __('Invite to team') %></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg"><%= __('Cancel') %></button>
                        <button type="submit" class="btn btn-warning btn-lg"><%= __('Update') %></button>
                    </div>
                </div> 
            </div>  
            </form> 

        </div>
        <div id="invite" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><%= __('Invite') %></h4>
                    </div>
                    <form id="form_evento">
                        <div class="modal-body">
                            <div style="overflow:hidden;">
                                <input type="text" id="tablePlayersInput" onkeyup="searchPlayers()" placeholder="<%= __('Search for names') %>">

                                <table id="tablePlayers">
                                    <tr class="header">
                                        <th style="width:60%;">Name</th>
                                        <th style="width:40%;">Position</th>
                                    </tr>
                                    <% for(var i=0; i<players.length; i++){ %>
                                    <tr>
                                        <td><%= players[i].name %></td>
                                        <td><%= players[i].age %></td>
                                    </tr>
                                    <% } %>
                                    
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('Cancel') %></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!--/#registration-->   

    <%- include partials/footer.ejs %>
    <script src="/js/util.js"></script>
    <script src="/js/validator.js"></script>
    <script src="/js/view/time.js"></script>

</body>
</html>